<h1>Welcome to Awesome Website</h1>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<style>
    label, input {
        display: block;
    }
    span.helptext {
        display: none;
    }

    h1 a, h2 a {
        color: #C25100;
        font-family: 'Lobster';
    }

    form {
        border: 3px solid #f1f1f1;
        align: center;
        margin: auto;
        width: 80%;
    }

    /* Full-width inputs */
    input[type=text], input[type=password], input[type=email] {
      width: 60%;
      align: center;
      padding: 12px 25p;
      margin: auto;
<!--      display: inline-block;-->
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 80%;
    align: center;
    }
</style>

{% block content %}
{% endblock %}